<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col col-sm-5">
      <div class="card text-white bg-primary mb-3">
        <div class="card-header text-center">Nomor Antrian Anda</div>
        <div class="card-body">
          <h1 class="card-title text-center">
            {{ customers[customers.length - 1].nomor }}
          </h1>
          <h5 class="card-text text-center">
            {{ customers[customers.length - 1].nama }}
          </h5>
          <p class="mt-5 text-center">
            Tgl : {{ customers[customers.length - 1].tanggal }}
          </p>
          <div class="list-line"></div>
          <div class="sub-text">
            <p class="text-center">Budayakan antri untuk kenyamanan bersama</p>
            <p class="text-center">Terimakasih atas kunjungan anda</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row mt-5">
    <div class="col">
      <button
        class="btn btn-primary mx-2"
        (click)="changePage('input-visitor-details')"
      >
        Add
      </button>
      <button
        class="btn btn-secondary mx-2"
        (click)="changePage('visitor-list')"
      >
        List
      </button>
    </div>
  </div>
</div>
