<div class="nav-bar">
  <div class="links collaps">
    <a class="link-item active" href="#">Customer Register</a>
    <a class="link-item" href="#">Customer List</a>
    <a class="link-item" href="#">Customer Setting</a>
    <a class="link-item" href="#">Customer Register Import</a>
  </div>
</div>

<div class="container">
  <p class="title-page">Customer Biodata</p>
  <div class="content-input row">
    <div class="col">
      <select class="form-input">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
      <input class="form-input" type="text" placeholder="Customer Name" />
      <input class="form-input" type="text" placeholder="Pic" />
      <input class="form-input" type="text" placeholder="City" />
      <input class="form-input" type="text" placeholder="Remark" />
      <input class="form-input" type="text" placeholder="NPWP" />
      <input
        class="form-input"
        type="text"
        placeholder="Customer Price Category"
      />
    </div>
    <div class="col">
      <textarea class="form-input" placeholder="Address"></textarea>
      <textarea class="form-input" placeholder="Address Ke 2"></textarea>
      <input class="form-input" type="text" placeholder="Contact No" />
      <input class="form-input" type="text" placeholder="Region" />
      <input class="form-input" type="text" placeholder="Province" />
      <div class="float-lable">
        <label class="float-label-item" for="kuota">Kuota</label>
        <input class="form-input" type="number" id="kuota" placeholder="0" />
      </div>
      <input class="form-input" type="text" placeholder="Prefered Expedition" />
    </div>
  </div>

  <button class="btn-icon-plus">+</button>
</div>
