/* You can add global styles to this file, and also import other style files */
.nav-bar {
  width: 100%;
  background: rgb(238, 238, 238);
}

.active-custom {
  border-bottom: 2px solid rgb(95, 95, 252);
}

.title-page {
  font-size: 2rem;
}
